@*@model Ozone.UI.Pages.Manage.IndexModel*@
@*<div data-w-id="1075fbc2-4c90-ef1d-fdb1-ba98d9e993ab" class="modal-close-bg" id="modalCloseBg" onclick="hideModal()"></div>*@
<div style="-webkit-transform:translate3d(0, -500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="ozone-modal-container w-container">
    <a data-w-id="1075fbc2-4c90-ef1d-fdb1-ba98d9e993ad" href="#" class="close-modal-button">×</a>
    <div class="caregory-element-components-container">
        <div class="main-checklist-components-body">
            <div id="categoriesComponentsContainer" class="accordian-wrapper">
                <div id="categoryItem" class="accordian-item">
                    <div id="categoryComponent" class="accordian-item-trigger">
                        <div class="component-body category-component-body-margin">
                            <div id="categoryCompTitle" class="category-title-container">
                                <div class="category-text-block">Category title</div>
                            </div>
                            <div class="category-expand-button">
                                <div class="text-block">Elements</div><img src="~/wf/images/details-white-18dp.svg" alt="" class="expand-icon">
                            </div>
                        </div>
                    </div>
                    <div id="elementsComponentsContainer" class="accordian-content">
                        <div id="elementComponent" class="element-component-body element-component-body-margin">
                            <div class="element-category-title-container">
                                <div id="elementCompTitle" class="element-title">Element Name Pascal Case</div>
                                <div id="elementCompLocation" class="element-location">Element Location Pascal Case</div>
                            </div>
                            <div class="element-buttons-wraper">
                                <div data-w-id="1075fbc2-4c90-ef1d-fdb1-ba98d9e993c4" class="element-expand-button">
                                    <div class="text-block">Details</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-children-container">
        <div class="element-element-details-container">
            <div class="element-element-details-tabs">
                <div data-duration-in="300" data-duration-out="100" class="element-tabs w-tabs">
                    <div class="element-tabs-menu w-tab-menu">
                        <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current">
                            <div class="element-text-block">Status</div>
                        </a>
                        <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link">
                            <div class="element-text-block">Fault</div>
                        </a>
                        <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link">
                            <div class="element-text-block element-position">Action</div>
                        </a>
                        <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link">
                            <div class="element-text-block">Note</div>
                        </a>
                    </div>
                    <div class="tabs-content w-tab-content">
                        <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active">
                            <div class="text-block-2">Tab 1</div>
                        </div>
                        <div data-w-tab="Tab 2" class="tab-pane-tab-2 w-tab-pane">
                            <div class="text-block-2">Tab 3</div>
                        </div>
                        <div data-w-tab="Tab 3" class="tab-pane-tab-3 w-tab-pane">
                            <div class="text-block-2">Tab 1</div>
                        </div>
                        <div data-w-tab="Tab 4" class="tab-pane-tab-3 w-tab-pane">
                            <div class="text-block-2">Tab 1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element-crud-panel">
                <div class="element-crud-button element-save-button-round-sorner">
                    <div class="element-button-text">Save</div>
                </div>
                <div class="element-crud-button">
                    <div class="element-button-text">Edit</div>
                </div>
                <div class="element-crud-button">
                    <div class="element-button-text">Delete</div>
                </div>
                <div class="element-crud-button element-last-round-corner">
                    <div class="element-button-text">Help ...</div>
                </div>
            </div>
        </div>
    </div>
</div>
