@page
@model Ozone.UI.Areas.Trainings.Pages.Trainees.CreateModel

<div class="row form-group" style="margin-top:50px">
    <div class="col-md-10 offset-md-1">
        <h3 class="page-header">
            Add Trainee
        </h3>
        <hr />
    </div>

</div>

<div class="row form-group">
    <div class="col-md-8 offset-md-2">
        <form id="addtraining" method="post">
            @Html.AntiForgeryToken()
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Input.FullName" class="font-weight-normal">Full Name</label>
                    <input asp-for="Input.FullName" type='text' class='form-control' placeholder="Full Name" style="padding-left:10px" />
                    <span asp-validation-for="Input.FullName" class="text-danger text-capitalize"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.GenderId" class="font-weight-normal">Course Name</label>
                    <select asp-for="Input.GenderId" asp-items="@Model.Input.Gender" class="form-control">
                        <option selected disabled>Select Gender</option>
                    </select>
                </div>                
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Input.DoB" class="font-weight-normal">Date of Birth</label>
                    <input asp-for="Input.DoB" type='text' class='form-control' id="datepickerDoB" placeholder="Start Date" style="padding-left:10px" value="" />
                    <span asp-validation-for="Input.DoB" class="text-danger text-capitalize"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Email" class="font-weight-normal">Email</label>
                    <input asp-for="Input.Email" type='text' class='form-control' placeholder="Email" style="padding-left:10px" />
                    <span asp-validation-for="Input.Email" class="text-danger text-capitalize"></span>                    
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Input.PhoneHome" class="font-weight-normal">Home Phone</label>
                    <input asp-for="Input.PhoneHome" type='text' class='form-control' placeholder="Home Phone" style="padding-left:10px" value="" />
                    <span asp-validation-for="Input.PhoneHome" class="text-danger text-capitalize"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.PhoneMobile" class="font-weight-normal">Cell Number</label>
                    <input asp-for="Input.PhoneMobile" type='text' class='form-control' placeholder="Cell Number" style="padding-left:10px" />
                    <span asp-validation-for="Input.PhoneMobile" class="text-danger text-capitalize"></span>                    
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label asp-for="Input.Address" class="font-weight-normal">Address</label>
                    <input asp-for="Input.Address" type='text' class='form-control' placeholder="Address" style="padding-left:10px" />
                    <span asp-validation-for="Input.Address" class="text-danger text-capitalize"></span>
                </div>
            </div>
            <div class="row form-group">
                <button type="submit" id="Submit" class="btn btn-secondary float-right">
                    Save
                </button>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        $(function () {
            $("#datepickerDoB").datepicker({
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });
        });
    </script>
}



