@page
@model Ozone.UI.Pages.GeneralHandlers.GeneralModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>
<body>
</body>
</html>
