@page
@model Ozone.UI.Areas.Trainings.Pages.Videos.IndexModel



<div class="row form-group" style="margin-top:50px">
    <div class="col-md-12">
        <h3 class="page-header">
            Training Videos
        </h3>
        <hr />
    </div>
</div>

<div style="height: 160vh">
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <div class="col-md-4 offset-md-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-4 offset-1">
                    <h4>Video Demo</h4>
                    <video width="300" height="250" controls="controls">
                        <source src="~/videos/test2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>





