@*@model Ozone.Models.UnitChecklistModel*@
@{
    Layout = "_DashboardLayout";
}

<div class="ozone-checklist-widget-container">
    <div class="ozone-widget-title-bg">
        <div class="ozone-widget-title">CHECKLIST</div>
        <div data-w-id="ec25c38e-ba2e-4017-5b8f-1b41a53e391c" id="checklistModel" onclick="openCategoriesFromDashboardModal()" class="ozone-widget-more-button">
            <div class="text-block-5">...</div>
        </div>
    </div>
    <div class="ozone-checklist-widget-contenet">
        <div class="ozone-checklist-widget-status-container">
            <div class="ozone-widget-subtitle">Status</div>
            <div class="ozone-widget-data">Great</div>
            <div class="ozone-widget-subtitle">Last Update</div>
            <div class="ozone-widget-data">Date</div>
            <div class="ozone-widget-data">Time</div>
        </div>
        <div class="ozone-checklist-widget-chart-container">

        </div>
    </div>
</div>
