@page
@model Ozone.UI.Areas.Trainings.Pages.Trainings.DetailsModel


<div class="row form-group" style="margin-top:50px">
    <div class="col-md-12">
        <h3 class="page-header">
            <i class="fa fa-sign-in"></i>
            Training Information
        </h3>
        <hr />
    </div>

</div>

<div class="row formgroup">
    <div class="col-md-10 offset-md-1">
        <h4><b>@Model.Input.CourseName</b> training is taking place from <b>@Model.Input.StartDate</b> to <b>@Model.Input.EndDate</b></h4>
    </div>

</div>

