@page
@model Ozone.UI.Areas.Trainings.Pages.Courses.CreateModel



<div class="row form-group" style="margin-top:50px">
    <div class="col-md-8 offset-md-2">
        <h3 class="page-header">
            Add Course
        </h3>
        <hr />
    </div>
    
</div>

<div class="row formgroup">
    <div class="col-md-6 offset-md-3">
        <form id="addcourse" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Input.CourseName"></label>
                <input asp-for="Input.CourseName" class="form-control" />
                <span asp-validation-for="Input.CourseName" class="text-danger"></span>
            </div>
            <div class="float-right">
                <button type="submit" id="Submit" class="btn btn-secondary">
                    Save
                </button>
            </div>
        </form>        
    </div>
    
</div>
