@page
@model Ozone.UI.Areas.Trainings.Pages.Courses.DetailsModel



<div class="row form-group" style="margin-top:50px">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-header">
                    <i class="fa fa-list"></i>
                    Course Information
                </h3>
            </div>
            <div class="col-md-6">
                <a asp-area="Trainings" asp-page="/Courses/AddVideo" class="btn btn-secondary float-right" style="margin-right:10px"> Add Video</a>
            </div>
        </div>
        <hr />
    </div>

</div>

<div class="row formgroup">
    <div class="col-md-8 offset-md-2">
        <h4>This is @Model.Input.CourseName Course</h4>
    </div>

</div>





